## Import necessary libraries

In [1]:
import sys
import pandas as pd
sys.path.append(r"C:\Users\subhi.gupta\Downloads\Case studies\Sales\data_prep")
sys.path.append(r"C:\Users\subhi.gupta\Downloads\Case studies\Sales\model_training")
from feature_engineering import *
from train import *

## Load data and create new features

In [2]:
df = pd.read_csv(r"C:\Users\subhi.gupta\Downloads\Case studies\Sales\datasets\sales-data.csv", parse_dates=["timestamp"])

new_df = data_prep(df)
new_df

,product_id,year,month,day,hour,weekday,is_weekend,category,region,customer_age,age_group,channel,price,quantity,revenue
0,7,2024,1,1,0,0,0,0,0,56,2,0,41393.19,4,165572.76
1,4,2024,1,1,1,0,0,1,1,29,0,0,38249.94,4,152999.76
2,5,2024,1,1,2,0,0,2,2,22,0,1,28719.09,2,57438.18
3,7,2024,1,1,3,0,0,0,3,19,0,1,47806.75,1,47806.75
4,3,2024,1,1,4,0,0,3,4,33,1,0,10103.68,1,10103.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5,2024,7,27,3,5,1,2,5,43,1,0,4009.08,1,4009.08
4996,6,2024,7,27,4,5,1,6,2,50,2,1,3721.48,1,3721.48
4997,3,2024,7,27,5,5,1,3,0,53,2,0,42530.85,1,42530.85
4998,2,2024,7,27,6,5,1,5,2,21,0,0,10721.22,4,42884.88
4999,4,2024,7,27,7,5,1,1,6,26,0,1,33470.79,3,100412.37

## Regression

In [3]:
rf_regressor(new_df)

Fitting Random Forest Regressor....

C:\Users\subhi.gupta\AppData\Local\anaconda3\envs\torchenv\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Evaluation metric over test dataset....
R2: 0.33748320069024196
RMSE: 40084.1682797133
MAE: 31537.80302708565
Evaluation metric over train dataset....
R2: 0.5582791450364689
RMSE: 31593.523407222285
MAE: 24732.498079754663

In [4]:
xgb_regressor(new_df)

Fitting XGBoost Regressor....

C:\Users\subhi.gupta\AppData\Local\anaconda3\envs\torchenv\lib\site-packages\xgboost\core.py:158: UserWarning: [19:19:44] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06a9e5273d3715f33-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

Evaluation metric over test dataset....
R2: 0.1563826736724543
RMSE: 45232.14408200587
MAE: 34736.47795922526
Evaluation metric over train dataset....
R2: 0.9999999999989913
RMSE: 0.047742493394762345
MAE: 0.026256046404125016

## Classification

In [5]:
rf_classifier(new_df)

Fitting Random Forest Classifier....

C:\Users\subhi.gupta\AppData\Local\anaconda3\envs\torchenv\lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Evaluation metrics over Test dataset....
Accuracy: 0.5146666666666667
F1 Score: 0.511192907151987

Classification Report:
               precision    recall  f1-score   support

           0       0.51      0.60      0.55       739
           1       0.53      0.43      0.47       761

    accuracy                           0.51      1500
   macro avg       0.52      0.52      0.51      1500
weighted avg       0.52      0.51      0.51      1500

Evaluation metrics over Train dataset....
Accuracy: 0.9448571428571428
F1 Score: 0.9448483258685012

Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.95      0.95      1792
           1       0.95      0.94      0.94      1708

    accuracy                           0.94      3500
   macro avg       0.94      0.94      0.94      3500
weighted avg       0.94      0.94      0.94      3500

In [6]:
xgb_classifier(new_df)

Fitting XGBoost Classifier....
Evaluation metrics over Test dataset....
Accuracy: 0.49733333333333335
F1 Score: 0.49673234304583674

Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.53      0.51       739
           1       0.51      0.46      0.48       761

    accuracy                           0.50      1500
   macro avg       0.50      0.50      0.50      1500
weighted avg       0.50      0.50      0.50      1500

Evaluation metrics over Train dataset....
Accuracy: 1.0
F1 Score: 1.0

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      1792
           1       1.00      1.00      1.00      1708

    accuracy                           1.00      3500
   macro avg       1.00      1.00      1.00      3500
weighted avg       1.00      1.00      1.00      3500

C:\Users\subhi.gupta\AppData\Local\anaconda3\envs\torchenv\lib\site-packages\xgboost\core.py:158: UserWarning: [19:19:45] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06a9e5273d3715f33-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

## Conclusion
- Xgboost
    - XGBoost shows perfect performance on training data, but much lower test performance, which means it is overfitting. 
    - Xgboost majorly focus on bias reduction and hence tend to overfit the data, especiaaly without tuning. 
    - Hyperparameter tuning can help in improving the performance of the model. Use of learning rate and other hyperparametera can help in reduce overfitting of the model and help in improving it's generalization performance.
- Random forest
    - Random forest performs reasonably okay on both training and test sets, no major overfitting.
    - Ranndom forest have a major imapact on variance reduction, so it does not show signs of overfitting.
    - Performance can be further improved with hyperparameter tuning: